body {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.card {
  width: 27vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
}
.card-title {
  font-size: 2.2rem;
  text-transform: uppercase;
}
.card-img {
  width: 100%;
}
.card-desc {
  font-size: 1.3rem;
}
